<!DOCTYPE html>
<html lang="en">
    
    <!-- Header -->
    <%= erb :headinclude, :locals => {:title => "About"} %>
    
    <body>
        
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-info container-fluid">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="far fa-bookmark"></i> Acme corp<span class="sr-only">(Current)</span></a>
                
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav ml-lg-auto align-items-lg-center">
                        <li class="nav-item">
                            <a class="nav-link" href="/about">ABOUT</a>
                        </li>
                       <li class="nav-item">
                           <a class="nav-link" href="/contact">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">GUEST</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">
                                <button class="btn btn-outline-light">
                                    LOGIN
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">
                                <button class="btn btn-light">
                                    REGISTER
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- Body Content -->
        <section class="features-section container py-5">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6">
                    <div class="mb-4 mb-md-0">
                        <img src="https://placeimg.com/640/480/tech" alt="" class="img-fluid" />
                    </div>
                </div>
                <div class="col-md-6 order-md-first">
                    <div class="text-center text-md-left">
                        <h4>Acme Corp's Bookmark Manager</h4>
                        <p>
                            This Bookmarking tool is an incredibly powerful website bookmark manager that allows users to save any web article, video, music, cloud file, social media content and anything on the web with a single link. All bookmarks are automatically saved in Acme Corp's Cloud Servers. You can search and filter by title, description, source and tags.
                        </p>
                        <br>
                        <h4>Save Anything from Anywhere Online</h4>
                        <p>
                            Any URL's can be saved by simply typing "xyz.io/" in front of any URL in your browsers address bar to save a bookmark. 
                        </p>
                        <br>
                        <h4>Edit Your Bookmarks &amp; Add Notes</h4>
                        <p>
                            Acme Corp's Bookmarking tool gives you the ability to add your own notes to the content you're saving and make it more personalised, to find it later.
                        </p>
                        <br>
                        <h4>Find any Bookmark in Seconds!</h4>
                        <p>
                            Any web content you save can be searched with ease via the search function in your account's dashboard. Search for titles, notes, URL's, keywords, etc. You will waste no more time searching for bookmarks!
                        </p>
                    </div>
                </div>
            </div>
        </section>
        
        <%= erb :footer %>
        
    </body>
</html>