<!DOCTYPE html>
<html lang="en">

<%= erb :headinclude, :locals => {:title => "Reset Password | Acme corp"}%>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info container-fluid">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
			</button>
            <a class="navbar-brand" href="index.html"><i class="far fa-bookmark"></i> Acme corp<span class="sr-only">(current)</span></a>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav ml-lg-auto align-items-lg-center">
					<li class="nav-item">
						<a class="nav-link" href="/login">
							<button class="btn btn-outline-light">LOGIN</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/register">
							<button class="btn btn-light">REGISTER</button>
						</a>
					</li>
				</ul>
			</div>
        </div>
    </nav>

    <section class="signup-section container py-5">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6">
            
            
              
				<h1 class="text-info mb-4">
					<i class="far fa-bookmark"></i> Acme corp
				</h1>
				
				
                     <!-- Password Reset Form -->   
                     
                     
                <form name="form" id="form" class="mb-4 mb-md-0" method="post">

                    
                    <!-- Email Input -->
                    
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input name="email" type="text" class="form-control" id="email" placeholder="john@doe.com" />
                        <i class="fas fa-check-circle"></i>
						<i class="fas fa-exclamation-circle"></i>
						<small></small>
						
                    </div>


									<div class="form-group">
										<label for="password">New Password</label>
										<input name="oldpassword" type="password" class="form-control" id="oldpassword" placeholder="********" />
										<i class="fas fa-check-circle"></i>
										<i class="fas fa-exclamation-circle"></i>
										<small></small>

									</div>
                    <!-- New Password Input -->
                    
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="********" />
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i> 
                        <small></small>     
                        
                    </div>
                    
                    <!-- Password Confirmation Input -->
                    
                    <div class="form-group">
                        <label for="passwordConfirm">Confirm Password</label>
                        <input name="passwordconfirm" type="password" class="form-control" id="passwordconfirm" placeholder="********" />
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small></small>
                        
                    </div>

                    
                     <button class="btn btn-info mb-4" type="submit">SUBMIT</button>
                     
				</form>
                
  
                
            </div>
            
			
            <div class="col-md-6">
                <img src="https://placeimg.com/640/480/tech" alt="" class="img-fluid" />
            </div>
            
        </div>
        
    </section>

    <%= erb :footer %>


    <script src="/js/validation.js"></script>
</body>

</html>
