<!DOCTYPE html>
<html lang="en">

<%= erb :headinclude, :locals => {:title => "Reset Password | Acme corp"}%>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info container-fluid">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
			</button>
            <a class="navbar-brand" href="index.html"><i class="far fa-bookmark"></i> Acme corp<span class="sr-only">(current)</span></a>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav ml-lg-auto align-items-lg-center">
					<li class="nav-item">
						<a class="nav-link" href="#">ABOUT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">CONTACT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/login">
							<button class="btn btn-outline-light">LOGIN</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/register">
							<button class="btn btn-light">REGISTER</button>
						</a>
					</li>
				</ul>
			</div>
        </div>
    </nav>

    <section class="signup-section container py-5">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6">
            
            
              
				<h1 class="text-info mb-4">
					<i class="far fa-bookmark"></i> Acme corp
				</h1>
				
				
                     <!-- Password Reset Form -->   
                     
                     
                <form name="form" id="form" class="mb-4 mb-md-0">
                
                
                <!-- User name Input -->
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input name="username" type="text" class="form-control"  id="username" placeholder="john" />
                        <i class="fas fa-check-circle"></i>
						<i class="fas fa-exclamation-circle"></i>
						<small></small> <!-- where the validation message is displayed -->
						
                    </div>
                    
                    <!-- Email Input -->
                    
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input name="email" type="text" class="form-control" id="email" placeholder="john@doe.com" />
                        <i class="fas fa-check-circle"></i>
						<i class="fas fa-exclamation-circle"></i>
						<small></small>
						
                    </div>
                    
                    <!-- New Password Input -->
                    
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="********" />
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i> 
                        <small></small>     
                        
                    </div>
                    
                    <!-- Password Confirmation Input -->
                    
                    <div class="form-group">
                        <label for="passwordConfirm">Confirm Password</label>
                        <input name="passwordConfirm" type="password" class="form-control" id="password2" placeholder="********" />
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small></small>
                        
                    </div>
                    
                    <!-- Security question selection -->
                    
                    <div class="form-group">
                        <label for="question">Security Question</label>
                        <select name="question" class="form-control" id="question">
								<option value="">Select Option</option>
								<option value="1">What's the name of your best friend?</option>
								<option value="2">What's your middle name?</option>
								<option value="3">What's your pet's name?</option>
								<option value="4">In what city or town was your first job?</option>
								<option value="5">What's a memorable quote?</option>
						</select>
						<i class="fas fa-check-circle"></i>
						<i class="fas fa-exclamation-circle"></i>
						<small></small>
						
                    </div>
                    
                    
                    <!-- Security Question Answer Input -->
                    <div class="form-group">
                        <label for="answer">Security Answer</label>
                        <input name="answer" class="form-control" id="answer" placeholder="Answer" />
                        <i class="fas fa-check-circle"></i>
						<i class="fas fa-exclamation-circle"></i>
						<small></small>
                    </div>
                    
                     <button class="btn btn-info mb-4">SUBMIT</button>
                     
				</form>
                
  
                
            </div>
            
			
            <div class="col-md-6">
                <img src="https://placeimg.com/640/480/tech" alt="" class="img-fluid" />
            </div>
            
        </div>
        
    </section>

    <%= erb :footer %>


    <script src="/js/validation.js"></script>
</body>

</html>
