<!DOCTYPE html>
<html lang="en">
    
    <!-- Header -->
    <%= erb :headinclude, :locals => {:title => "Contact"} %>
    
    <body>
        
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-info container-fluid">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="far fa-bookmark"></i> Acme corp<span class="sr-only">(Current)</span></a>
                
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav ml-lg-auto align-items-lg-center">
                        <li class="nav-item">
                            <a class="nav-link" href="/about">ABOUT</a>
                        </li>
                       <li class="nav-item">
                           <a class="nav-link" href="/contact">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">GUEST</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">
                                <button class="btn btn-outline-light">
                                    LOGIN
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">
                                <button class="btn btn-light">
                                    REGISTER
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
       
        
        <!--BODY CONTENT -->
        <section class="features-section container py-5">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6 order-md-first">
                    <div class="text-center text-md-left">
                        <h3 style="text-align:center;">Contact us!</h3>
                        <p>
                            Have any questions or concerns? Contact one of this site's admins via email, and we will get in touch very soon!
                        </p>
                        <br>
                        <div style="overflow: hidden;">
                            <p style="float: left;">Abdulrahman AlTerkait</p>
                            <p style="float: right;"><a href="mailto:aalterkait1@sheffield.ac.uk?subject = Feedback &body = Message">email</a></p>
                        </div>
                        <div style="overflow: hidden;">
                            <p style="float: left;">Nick Ruffles</p>
                            <p style="float: right;"><a href="mailto:nruffles1@sheffield.ac.uk?subject = Feedback &body = Message">email</a></p>
                        </div>
                        <div style="overflow: hidden;">
                            <p style="float: left;">Jake Robison</p>
                            <p style="float: right;"><a href="mailto:jrobison1@sheffield.ac.uk?subject = Feedback &body = Message">email</a></p>
                        </div>
                        <div style="overflow: hidden;">
                            <p style="float: left;">Anna Penny</p>
                            <p style="float: right;"><a href="mailto:afpenny1@sheffield.ac.uk?subject = Feedback &body = Message">email</a></p>
                        </div>
                        <div style="overflow: hidden;">
                            <p style="float: left;">Stanislaw Malinowski</p>
                            <p style="float: right;"><a href="mailto:smmalinowski1@sheffield.ac.uk?subject = Feedback &body = Message">email</a></p>
                        </div>
                        <div style="overflow: hidden;">
                            <p style="float: left;">Lujain Hawsawi</p>
                            <p style="float: right;"><a href="mailto:lhawsawi2@sheffield.ac.uk?subject = Feedback &body = Message">email</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <%= erb :footer %>
        
    </body>
</html>