<footer class="mt-5 mt-md-0 py-3 border-top">
    <div class="container">
        <div class="footer-flex">
            <div>
                <div><i class="far fa-bookmark mb-2"></i> Acme corp</div>
                <small class="d-block mb-3 text-muted">© 2020</small>
            </div>
            <div>
                <ul class="footer-list text-small">
                    <li><a class="text-muted" href="#">About</a></li>
                    <li><a class="text-muted" href="#">Contact</a></li>
                    <li><a class="text-muted" href="/login">Login</a></li>
                    <li><a class="text-muted" href="/register">Register</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>