<!DOCTYPE html>
<html lang="en">

<!-- Avoiding duplication -->
    <%= erb :headinclude, :locals => {:title => "Acme corp - Index"} %>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info container-fluid">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
            <a class="navbar-brand" href="/"><i class="far fa-bookmark"></i> Acme corp <span class="sr-only">(current)</span></a>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav ml-lg-auto align-items-lg-center">
					<li class="nav-item">
						<a class="nav-link" href="#">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CONTACT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">
                    <button class="btn btn-outline-light">LOGIN</button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">
                    <button class="btn btn-light">REGISTER</button>
                </a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <!-- Hero section -->
    <section class="hero-section container py-5">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6">
                <div class="mb-4 mb-md-0 text-center text-md-left">
                    <h1 class="text-info">
                        <i class="far fa-bookmark"></i> Acme corp
                    </h1>
                    <h5 class="mb-4">THE BEST BOOKMARKING TOOL</h5>
                    <a class="btn btn-info" href="/register">REGISTER</a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="https://placeimg.com/640/480/tech" alt="" class="img-fluid" />
            </div>
        </div>
    </section>

    <!-- banner section -->
    <section class="banner-section py-lg-5">
        <div class="bg-info text-center py-lg-5 p-3">
            <h3 class="text-white">
                No need to install any extensions, apps or software
            </h3>
        </div>
    </section>

    <!-- features section -->
    <section class="features-section container py-5">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6">
                <div class="mb-4 mb-md-0">
                    <img src="https://placeimg.com/640/480/tech/grayscale" alt="" class="img-fluid" />
                </div>
            </div>
            <div class="col-md-6 order-md-first">
                <div class="text-center text-md-left">
                    <h4>Easy on the go</h4>
                    <p>
                        Just type "xyz.io/" in front of any URL in your browsers address bar to save a bookmark
                    </p>
                    <h4>Cross device compatibility</h4>
                    <p>It works on desktop and mobile devices</p>
                    <h4>Organize Using Lists</h4>
                    <p>
                        Create lists on the fly by typing "AnyListName.xyz.io/" in front of a url
                    </p>
                    <h4>No Storage Limits</h4>
                    <p>Store as many bookmarks as you want</p>
                </div>
            </div>
        </div>
    </section>

    <!-- banner section -->
    <section class="banner-section py-lg-5">
        <div class="bg-info text-center py-lg-5 p-3">
            <h3>
                <a href="/register" class="text-white">Click to get registered for free now!</a
					>
				</h3>
			</div>
		</section>

		<%= erb :footer %>

        <script src="/js/common.js"></script>
</body>

</html>