<!DOCTYPE html>
<html lang="en">

<!-- Avoiding Duplication -->
    
    <%= erb :headinclude, :locals => {:title => "Acme corp - Login"}%>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info container-fluid">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="far fa-bookmark"></i> Acme corp<span class="sr-only">(current)</span>
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-lg-auto align-items-lg-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">
                            <button class="btn btn-light">REGISTER</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- login section -->
    <section class="login-section container py-5">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6">
            
            
              
				<h1 class="text-info mb-4">
					<i class="far fa-bookmark"></i> Acme corp
				</h1>
                    <% if session[:reply] %>
                    <div class="alert alert-<%= if session[:reply].include? 'suspended' then 'danger' else 'warning' end %>" role="alert">
                      <%= session[:reply] %>
                    </div>
                    <% end %>
                    <% session[:reply] = nil %>
                        <!-- Login Form -->   
                     
                     
                <form name="form" id="form" class="mb-4 mb-md-0">

                    <!-- Email Input -->
                    
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input name="email" type="text" class="form-control" id="email" placeholder="john@doe.com" />
                        <i class="fas fa-check-circle"></i>
						<i class="fas fa-exclamation-circle"></i>
						<small></small>
						
                    </div>
                    
                    <!-- Password Input -->
                    
                    <div class="form-group">
                        <label for="password">Enter Password</label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="********" />
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i> 
                        <small></small>     
                        
                    </div>
               
                     <button class="btn btn-info ">LOGIN</button>
                     
				</form>
     
            </div>
            
            <div class="col-md-6">
                <img src="https://placeimg.com/640/480/tech" alt="" class="img-fluid" />
            </div>
            
        </div>
    </section>

    <%= erb :footer %>

    <script src="/js/common.js"></script>
</body>

</html>