<!DOCTYPE html>
<html lang="en">

<head>
    <title>Acme corp - Bookmarks</title>
    <!-- Required meta tags -->
    <meta name="description" content="Bookmark application" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />

    <!-- Font Awesome -->
    <link href="assets/css/fontawesome/all.min.css" rel="stylesheet" />
    <!--load all styles -->
    <link href="assets/css/fontawesome/brands.min.css" rel="stylesheet" />
    <!--load all styles -->

    <!-- Stylesheet CSS -->
    <link rel="stylesheet" href="assets/css/style.min.css" />
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info container-fluid">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
            <a class="navbar-brand" href="index.html"><i class="far fa-bookmark"></i> Acme corp<span class="sr-only"
						>(current)</span
					></a
				>

				<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
					<ul class="navbar-nav ml-lg-auto align-items-lg-center">
						<li class="nav-item">
							<a class="nav-link" href="">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">CONTACT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register.html">
                    <button class="btn btn-light">REGISTER</button>
                </a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <!-- login section -->
    <section class="login-section container py-5">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6">
                <div class="mb-4 mb-md-0">
                    <h1 class="text-info mb-4">
                        <i class="far fa-bookmark"></i> Acme corp
                    </h1>
                    <div class="form-group">
                        <label for="">Email Address<span class="text-danger">*</span></label
							>
							<input
								type="text"
								class="form-control"
								placeholder="john@doe.com"
							/>
						</div>
						<div class="form-group">
							<label for="">Password<span class="text-danger">*</span></label>
                        <input type="password" class="form-control" placeholder="********" />
                    </div>
                </div>
                <div class="mb-4">
                    <a href="dashboard.html">
                        <button class="btn btn-info">LOGIN</button>
                    </a>
                    <div>
                        <a href="" class="font-sm">Forgot Password?</a>
                    </div>
                </div>
                <p>Don't have an account? <a href="register.html">Register</a></p>
            </div>
            <div class="col-md-6">
                <img src="https://placeimg.com/640/480/tech" alt="" class="img-fluid" />
            </div>
        </div>
    </section>

    <footer class="mt-5 mt-md-0 py-3 border-top">
        <div class="container">
            <div class="footer-flex">
                <div>
                    <div><i class="far fa-bookmark mb-2"></i> Acme corp</div>
                    <small class="d-block mb-3 text-muted">© 2020</small>
                </div>
                <div>
                    <ul class="footer-list text-small">
                        <li><a class="text-muted" href="#">Contact</a></li>
                        <li><a class="text-muted" href="#">Login</a></li>
                        <li><a class="text-muted" href="#">Register</a></li>
                        <li><a class="text-muted" href="#">Privacy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="assets/js/common.js"></script>
</body>

</html>