/* input fields */

.form-group {
	position: relative;
}


.form-group label {
	display: inline-block;
}

.form-group {
	position: relative;
}


.valid input {
	border-color: #6bcc2e;
}

.error input {
	border-color: #f23030;
}

.form-group i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
	
}

.valid .fa-check-circle {
	color: #6bcc2e;
	visibility: visible;
}

.error  .fa-exclamation-circle {
	color: #f23030;
	visibility: visible;
}

.form-group small {
	color: #e74c3c;
	position: relative;
	bottom: 2;
	left: 0;
	visibility: hidden;
	

}

.error small {
	visibility: visible;
}